/* Whites */
$color-white: #fafafa;

/* Blacks */
$color-black: #000000;

/* Blue */
$color-blue: #158fe0;
$color-blue-transp: rgba(21, 143, 224, 0.8);
$color-primary-dark: #2980b9;
$color-primary-light: #6dd5fa;

/* Reds */
$color-red: #b71c1c;
$color-red-transp: rgba(183, 28, 28, 0.75);
